.balance-view-container{
    background-color: black;
    font-weight: bold;
    font-size: 18px;
    padding: 10px 20px 10px 20px;
    display: flex;
    justify-content: space-between;
    border: 1px solid #8F91A3;
}

.balance-sum{
    text-decoration: underline;
}

.negative{
    color: #e05555;
}

.on-budget-list {
    position: sticky;
    bottom: 0;
    border: 0;
}

.accounting-item{
    font-weight: normal;
    font-size: 14px;
}