.category-view{
    display: flex;
    font-weight: bold;
    border-radius: 3px;
    padding: 3px 10px 3px 3px;
    margin-bottom: 5px;
    color: #363434;
    justify-content: space-between;
}

.main-category{
    color: white;
}

.expenses{

    background-color: #8C4843;
}

.incomes{
    background-color: #0D5C63;
}

.collapse-category-button{
    margin-left: 2px;
    margin-right: 10px;
    border: 0;
    font-weight: bold;

    cursor: pointer;
    border-radius: 100%;
}
