.position-list-head{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    padding-right: 5px;
}

.position-list-head ul{
    list-style-type: none;
    padding-left: 5px;
    margin: 0;
}

.position-list-head li{
    text-align: left;
    font-weight: bold;
}