.position-item-container{
    background-color: #8F91A3;
    display: flex;
    justify-content: space-between;
    margin: 3px 0 3px 0;
    padding: 5px;
    border-radius: 3px;
}

.overview-grid-item{
    display: grid;
    grid-template-columns: 200px 500px 80px 50px repeat(2, 100px) 120px;
    font-size: 13px;
}

.position-item-container ul{
    list-style-type: none;
    margin: 0;
    padding: 0;

}

.position-item-container li{
    color: #000;
    background-color: lightgray;
    margin: 0 5px 0 0;
    padding: 3px;
    border-radius: 3px;
    text-align: left;
}

.position-view-buttons-container{
  display: flex;
}