.write-event-form-container{
    display: flex;
    justify-content: center;
}

.write-event-form-fields {
    display: grid;
    grid-template-columns: 200px 400px;
}

.write-event-form-fields label{
    text-align: left;
}

.write-event-form-fields select {
    height: 150px;
}

.write-event-form {
    text-align: left;
}

.write-event-form .submit-button{
    margin-top: 20px;
}

.remove-all-users {
    color: #DDFFF7;
    margin-left: 5px;
    width: fit-content;
    margin-bottom: 5px;
    padding: 5px;
    border-left: 0.1px solid #DDFFF7;
    font-size: 12px;
}

.remove-all-users:hover{
    background-color: #DDFFF7;
    color: #0E0E1B;
    cursor: pointer;
}