.write-event-form-container{
    display: flex;
    justify-content: center;
}

.write-event-form-fields {
    display: grid;
    grid-template-columns: 200px 400px;
}

.write-event-form-fields label{
    text-align: left;
}

.write-event-form-fields select {
    height: 150px;
}

.write-event-form {
    text-align: left;
}

.write-event-form .submit-button{
    margin-top: 20px;
}

.remove-all-users {
    color: #DDFFF7;
    font-weight: bold;
    margin-left: 5px;
    width: fit-content;
    margin-bottom: 5px;
}

.remove-all-users:hover{
    cursor: pointer;
    color: rgba(221, 255, 247, 0.8);
}