.app-title-container{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.app-title{
    font-weight: bold;
    font-style: italic;
    font-size: 26px;
    text-align: center;
}

.logout-button-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}

.logout-button{
}

.display-current-user{
    color: white;
    font-weight: bold;
    font-size: 14px;
    padding: 5px;
    border-radius: 5px;
    border: 1.5px solid #DDFFF7;
}