.event-card {
    padding: 5px;
    border-radius: 5px;
    width: 90%;
}

.event-card-heading {
    font-weight: bold;
    font-size: 20px;
    background-color: #0E0E1B;
    padding: 3px;
    margin-bottom: 5px;
    border-radius: 5px;
}

.event-card-heading:hover {
    color: #0E0E1B;
    background-color: rgba(221, 255, 247, 0.8);
    cursor: pointer;
}