html, body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0E0E1B;
  color: white;
  height: 100%;
}

p {
  margin: 0;
}

button {
  background-color: #DDFFF7;
  border: 0;
}

button:hover{
  cursor: pointer;
  box-shadow: 0 0 3px 3px #0D5C63;
}