.sub-category{
    font-size: 14px;
    background-color: lightgray;
}

.display-subcategory{
    display: flex;
    justify-content: space-between;
}

.display-subcategory-buttons{
    display: flex;
}